/* Header */
.main-header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    backdrop-filter: blur(12px);
    background: var(--bg-header);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    transition: background 0.3s ease, border-color 0.3s ease;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-primary);
    text-decoration: none;
    letter-spacing: -0.025em;
    z-index: 51;
}

.logo-img {
    height: 2rem;
    width: auto;
}

.main-nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-link {
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 500;
    transition: var(--transition-fast);
    position: relative;
    padding: 0.5rem 0;
}

.nav-link:hover,
.nav-link.active {
    color: var(--primary);
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary);
    border-radius: var(--radius-full);
}

.mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    padding: 0.5rem;
    z-index: 51;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 769px) {
    .main-nav {
        margin-left: auto;
        margin-right: 2rem;
    }
}

@media (max-width: 768px) {
    .mobile-menu-btn {
        display: block;
    }

    .main-nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        /* background: var(--bg-main); */
        flex-direction: column;
        justify-content: flex-start;
        padding: 5rem 1rem 1rem;
        gap: 1rem;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.3s ease-in-out;
        z-index: 50;
        background: var(--bg-header);
        border-top: 1px solid var(--border-color);
    }

    .main-nav.open {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }


    .nav-link {
        font-size: 1rem;
        width: 100%;
        text-align: center;
        font-weight: 600;
        padding: 0.25rem 0;
    }

    .nav-link.active::after {
        bottom: -2px;
        width: 40px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
    }
}